{% extends 'admin/master.html' %}

{% block body %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
	resetAllScores = function(){
		var resetAllScores_url = "/api/presentation/";
		console.log("resetting all scores");
		$.ajax(resetAllScores_url, {
			type: 'GET',
			data: {},
			success:function(data){

				$.each(data, function(idx, obj){ 
					$.each(obj, function(key, value){
						// console.log(obj);
						// console.log(key + ": " + value);
						var target = "#result_"+ obj.presentation_id;
						$(target).text(obj.score);
					});
				});				   

			}
			// error:function(jqXhr, statusText, error){
				//   console.log(statusText, error);
				// }
			}
	)};

	addVote = function(rID){
		var addVote_url = "api/presentation/" + rID + "/";
		console.log("adding a vote");
		$.ajax(addVote_url, {
			type: 'PUT',
			data: {},
			success:function(data){
				console.log(data);
				// var target = "#result_"+ data.presentation_id;
				// $(target).text(data.score);
				resetAllScores();
				// Example.show("Your Vote Has Been counted!");
				// stationinfoWindow.close(map,this);
			}
			// error:function(jqXhr, statusText, error){
				//   console.log(statusText, error);
				// }
			}
		)};


</script>

you are logged in as: {{current_user}}
<br />
<!-- your votes: {{current_user.myvotes}} -->


	{% autoescape false %}
		{{leaderb}}
	{% endautoescape %}

{% endblock %}
