{% extends 'admin/master.html' %}

{% block body %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
	addVote = function(rID){
		var addvote_url = "/api/presentation/" + rID + "/";
		console.log("adding a vote");
		$.ajax(addvote_url, {
			type: 'PUT',
			data: {},
			success:function(data){
				console.log(data);
				var target = "#result_"+ data.presentation_id;
				$(target).text(data.score);
				// Example.show("Your Vote Has Been counted!");
				// stationinfoWindow.close(map,this);
			}
			// error:function(jqXhr, statusText, error){
				//   console.log(statusText, error);
				// }
			}
		)};

</script>




	{% autoescape false %}
		{{leaderb}}
	{% endautoescape %}

{% endblock %}
